* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    width: 1200px;
}

.imagem_logo{
    height: 120px;
    width: 300px;
    margin-left: 40px;
    margin-left: 200px;
}

.container_foto{
    height: 210px;
    display: flex;
    justify-content: right;
}

.contaier_foto_editar{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.foto_perfil{
    width: 175px;
    height: 175px;
    border-radius: 90px;
}

.margin_foto{
    margin-right: 40px;
    display: flex;
    align-items: center;
    font-size: 45px;

}

.estilo_editar_button{
    width: 150px;
    height: 50px;
    margin-top: 10px;
    font-size: 17px;
    border-radius: 8px;
}

.container_info{
    height: 40px;
    width: 400px;
    background-color: #fff;
    display: flex;
    align-items: center;
    border: 1px solid rgba(62, 81, 143, 0.7);
    border-radius: 10px;
}

.margin_info{
    margin-bottom: 20px;
    margin-left: 15px;
    color: #A5A5A5;
    font-size: 30px;
}

.margin_top_info{
    margin-top: 40px;
}

.margin_geral_info{
    margin-left: 350px;
}

.margin_left_info{
    margin-left: 10px;
}